:root {
    --white: #fff;
    --primary-color: #005073;
    --secondary-color: #9cd2ce ;
    --card-background-color: #f7fafc;
    --input-background-color: #ffffff;
    --input-border-color: #b3c7d6;
    --success-color: #4CAF50;
    --background-success-color: #c6e7c9;
    --button-color: #005073;
    --button-hover-color: #003b4d;
}

body {

    background: var(--button-color);
}

.container {
    margin-top: 50px;
}

.profile-card {
    background-color: var(--secondary-color);
    border-radius: 15px;
    padding: 30px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

h2 {
    color: var(--white);
    font-weight: bold;
    margin-bottom: 30px;
}

.form-label {
    font-weight: 500;
    color: var(--white);
}

.form-control {
    background-color: var(--input-background-color);
    border: 1px solid var(--input-border-color);
    border-radius: 5px;
    padding: 10px;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

.form-control:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 8px rgba(0, 80, 115, 0.3);
}

.btn-primary {
    background-color: var(--button-color);
    border-color: var(--button-color);
}

.btn-primary:hover {
    background-color: var(--button-hover-color);
    border-color: var(--button-hover-color);
}

.alert-info {
    background-color: var(--background-success-color);
    color: var(--success-color);
}


.text-center {
    text-align: center;
}